.wb_remove_animated {
  display: block;
  visibility: visible;
  -webkit-animation-duration: 0.00001s!important;
  animation-duration: 0.00001s!important;
  -webkit-animation-delay: 0.00001s!important;
  animation-delay: 0.00001s!important;
  animation-iteration-count: 1!important;
  -webkit-animation-iteration-count: 1!important;
}
.wb_hidden {
  display: none!important;
}
.wb_show {
  display: block!important;
}
#editor_container {
  width: 100%;
  height: 1038px;
}
.edit_border_hint,
.edit_border_hint_bgimg {
  border: 3px dashed red;
  position: absolute;
  opacity: 0;
  font-size: 34px;
  color: white!important;
  text-align: center;
  box-sizing: border-box;
}
.edit_border_hint_ani {
  animation: edit_border_hint 3!important;
  animation-duration: 2s!important;
  -webkit-animation: edit_border_hint 3!important;
  -webkit-animation-duration: 2s!important;
}
.edit_border_hint_bgimg {
  background-image: url('imgs/hint_text_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
@keyframes edit_border_hint {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes edit_border_hint {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.edit_border_tap {
  border: 3px solid #FFDC08;
  position: absolute;
  box-sizing: border-box;
}
.edit_border_text_empty {
  border: 3px solid #FFDC08;
  position: absolute;
  box-sizing: border-box;
}
.edit_border_dynamic_tap {
  width: 100px;
  height: 100px;
  border: 4px solid #FFDC08;
  position: absolute;
  box-sizing: border-box;
}
.custom_audio {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 500px;
  top: 870px;
  background-image: url('imgs/custom_audio_play.png');
  background-size: cover;
  z-index: 2000;
}
.custom_audio_border_tap {
  border: 3px solid #FFDC08;
}
.custom_audio_op_delete {
  width: 88px;
  height: 88px;
  position: absolute;
  top: -44px;
  left: -44px;
  background-image: url('imgs/delete.png');
  background-size: cover;
}
.custom_audio_play {
  background-image: url('imgs/custom_audio_play.png');
}
.custom_audio_pause {
  background-image: url('imgs/custom_audio_pause.png');
}
.edit_text_hint {
  opacity: 0;
  position: absolute;
  width: 254px;
  height: 62px;
  line-height: 62px!important;
  font-size: 34px;
  background-image: url('imgs/hint_text_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: white!important;
  text-align: center!important;
  letter-spacing: 0!important;
}
.edit_quik_preivew_bgimg {
  background-size: cover!important;
  background-position: 50% 50%!important;
}
.dynamic_element_border_tap {
  border: 4px solid #FFDC08;
  box-sizing: border-box;
}
.dynamic_element_op_scale {
  width: 88px;
  height: 88px;
  position: absolute;
  bottom: -44px;
  right: -44px;
  background-image: url('imgs/scale.png');
  background-size: cover;
}
.dynamic_element_op_delete {
  width: 88px;
  height: 88px;
  position: absolute;
  top: -44px;
  left: -44px;
  background-image: url('imgs/delete.png');
  background-size: cover;
}
.edit_multi_img_left_arrow {
  background-image: url(imgs/arrow-left.png);
  left: 20px;
  width: 40px;
  height: 64px;
  position: absolute;
  z-index: 100000;
}
.edit_multi_img_right_arrow {
  background-image: url(imgs/arrow-right.png);
  left: 580px;
  width: 40px;
  height: 64px;
  position: absolute;
  z-index: 100000;
}
